<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Projects", projects_path, class: 'black' %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @project.name %></li>
  </ol>
</nav>

<div class="card shadow-sm">
  <div class="card-body">
    <h4>Tasks Overview</h4>
    <p>Due Today: <%= @project.today_todos.count %></p>
    <p class="red">Overdue: <%= @project.overdue_todos.count %></p>
  </div>
</div>

<div class="mt-3 mb-2">
  <%= link_to new_project_list_path(@project), class: 'no-text-decor' do %>
    New list <i class="fas fa-plus-circle"></i>
  <% end %>
</div>

<div class="card-columns">
  <% @lists.each do |list| %>
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="mb-2"><%= list.name %></h5>

        <ul class="pl-3 mb-0">
          <% list.todos.all_uncompleted.display_order.first(5).each do |todo| %>
            <li><%= todo.description.truncate(30) %></li>
          <% end -%>
        </ul>

        <% if list.todos.all_uncompleted.count <= 0 %><p class="text-muted m-0">nothing to do here...</p><% end -%>

        <div class="mt-2">
          <% if list.todos.all_uncompleted.count > 0 %>
            <span class="text-muted"><%= list.todos.all_uncompleted.count %> uncompleted <%= if list.todos.all_uncompleted.count == 1 then "todo" else "todos" end %></span>
          <% else %>
            <i class="fas fa-check green" style="font-size: 18px;"></i> All completed!
          <% end -%>
        </div>
      </div>
      <div class="card-footer">
        <%= link_to "View", project_list_todos_path(@project, list), class: 'no-text-decor p-0 pr-3' %>
        <%= link_to "Edit", edit_project_list_path(@project, list), class: 'no-text-decor p-0 pr-3' %>
        <%= link_to "Delete", project_list_path(@project, list), method: :delete, data: {confirm: 'Delete ' + list.name + '?'}, class: 'no-text-decor p-0 pr-3 red' %>
      </div>
    </div>
  <% end %>
</div>

<% if @lists.count == 0 %>
  <p class="text-muted">No lists</p>
<% end %>