<div class="card shadow-sm">
  <div class="card-body">
    <%= form_for @project do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, required: true, class: 'form-control mb-2' %>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control mb-2', rows: 5 %>
      <%= f.label :label %><br>
      <div style='display: inline-block;'>
        <%= f.select :label_id,
          [["None", ""]] + Current.user.labels.map { |l| [l.name, l.id] },
          {},
          {class: 'form-control mb-2'}
        %>
      </div><br>
      
      <%= button_tag type: 'submit', class: "btn btn-outline-primary", data: { disable_with: "<i class='fas fa-spin fa-spinner'></i>"} do %>
        Save <i class="fas fa-check"></i>
      <% end %>
    <% end %>
  </div>
</div>