<% if @todos.in_progress.count > 0 %>
  <table class="table table-borderless table-hover d-none d-md-table" style="table-layout:fixed;">
    <tr>
      <th style="width: 52px;"></th>
      <th colspan="3">Description</th>
    
      <th class="text-center">Due Date</th>
      <th class="text-center">Actions</th>
    </tr>

    <% @todos.in_progress.display_order.each do |todo| %>
      <tr>
        <td style="width: 52px; padding-top: 10px;">
          <%= link_to toggle_complete_project_list_todo_path(@project, @list, todo), class: 'no-text-decor', method: :post do %>
            <i class="far fa-square black fa-2x"></i>
          <% end %>
        </td>
        <td colspan="3"><%= todo.description %></td>
        <td class="text-center">
          <% if todo.due_date < Time.zone.today %>
            <span style="color: red;"><%= todo.due_date.strftime("%b %e") %></span>
          <% else %>
            <%= todo.due_date.strftime("%b %e") %>
          <% end %>
        </td>
        <td style="font-size: 20px;" class="text-center">
          <%= link_to edit_project_list_todo_path(@project, @list, todo), class: 'no-text-decor', data: {toggle: 'tooltip'}, title: 'Edit todo' do %>
            <i class="far fa-edit black"></i>
          <% end -%>

          <%= link_to project_list_todo_path(@project, @list, todo), class: 'no-text-decor', method: :delete, data: { confirm: "Delete todo?", toggle: 'tooltip' }, title: 'Delete todo' do %>
            <i class="far fa-trash-alt black"></i>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="d-md-none mt-3">
    <% @todos.in_progress.display_order.each do |todo| %>
      <p><%= todo.description %></p>
      <p>
        <% if todo.due_date < Time.zone.today %>
          <span style="color: red;">Due <%= todo.due_date.strftime("%b %e") %></span>
        <% else %>
          Due <%= todo.due_date.strftime("%b %e") %>
        <% end %>
      </p>
      <p>
        <%= link_to toggle_complete_project_list_todo_path(@project, @list, todo), class: 'no-text-decor black mr-2', method: :post do %>
          <i class="far fa-square"></i> Mark complete
        <% end %>
        
        <%= link_to edit_project_list_todo_path(@project, @list, todo), class: 'no-text-decor black mr-2' do %>
          <i class="far fa-edit"></i> Edit
        <% end -%>

        <%= link_to project_list_todo_path(@project, @list, todo), class: 'no-text-decor black', method: :delete, data: { confirm: "Delete todo?" } do %>
          <i class="far fa-trash-alt"></i> Delete
        <% end -%>
      </p>
      
      <% if todo != @todos.last %>
        <hr class="mt-2 mb-2">
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="text-muted mt-2 mb-0">No completed todos</p>
<% end %>