<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Projects", projects_path, class: 'black' %></li>
    <li class="breadcrumb-item"><%= link_to @project.name, project_lists_path(@project), class: 'black' %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @list.name %></li>
  </ol>
</nav>

<div class="card shadow-sm mb-3">
  <div class="card-body">
    <h5 class="mb-2">New todo</h5>

    <%= form_for [@project, @list, Todo.new] do |f| %>
      <%= f.label :description %>
      <div class="input-group mb-1">
        <%= f.text_field :description, placeholder: 'enter todo...', class: 'form-control', required: true, autofocus: true %>
      </div>
      <%= f.label :due_date %>
      <div class="input-group">
        <%= f.date_field :due_date, value: Date.today + 7.days, class: 'form-control' %>
      </div>
      <button class="btn btn-outline-primary mt-2" data-disable-with="<i class='fas fa-spin fa-spinner'></i>">Add <i class="fas fa-check"></i></button>
    <% end %>
  </div>
</div>

<div class="card shadow-sm">
  <div class="card-body">
    <h5 class="mb-3">Todos</h5>
    <%= @tab %>
      <%= form_for @search, url: project_list_todos_path(@project, @list), method: :get, html: {class: "form"} do |f| %>
        <%= hidden_field_tag :tab, @tab %>
        <div class="input-group mb-0">
          <%= f.text_field :query, placeholder: "Search todos...", class: "form-control border-right-0 border", required: true %>
          <span class="input-group-append">
            <button class="btn btn-outline-secondary border border-left-0" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
        <% if params[:todo_search] %>
          <div class="mt-1">
            <%= link_to project_list_todos_path(@project, @list, tab: @tab), class: 'red' do %>
              <i class="fas fa-times-circle red"></i> Clear search
            <% end %>
          </div>
        <% end %>
      <% end %>

      <div class="btn-group mt-2 mb-1" role="group">
        <%= link_to 'In progress', project_list_todos_path(@project, @list), class: "btn btn-sm #{if @tab != 'completed' then 'btn-outline-primary' else 'btn-outline-secondary' end}" %>
        <%= link_to 'Completed', project_list_todos_path(@project, @list, tab: 'completed'), class: "btn btn-sm #{if @tab == 'completed' then 'btn-outline-primary' else 'btn-outline-secondary' end}" %>
      </div>

      <% if @todos.count > 0 %>

      <% if @tab == 'completed' %>
        <%= render 'completed' %>
      <% else %>
        <%= render 'in_progress' %>
      <% end %>
      
    <% else %>
      <p class="text-muted mt-2 mb-0">No todos</p>
    <% end %>
  </div>
</div>

<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
</script>